<!DOCTYPE html>
<html lang="vie">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link
          rel="stylesheet"
          type="text/css"
          href="{{ url_for('static',filename='style.css') }}"
        />
        </head>
<body>
    <img src="\Library_Brown.png" alt="" width="400">

    <div class="container">
        <h1>Login</h1>
        <form action="login" method="post">
            <label for="account">Tài khoản</label>
            <input type="account" id="account" name="account" required>
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Log In">
        </form>
        <p><a href="register">Create a new account</a></p>
    </div>
</body>
</html>