<!DOCTYPE html>
<html lang="vie">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng Ký</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
      
    />
    </head>
    <body>
        <div class="register">
            <form action="/register" method="POST">
                <h1 class = 'Dang_nhap'> Đăng Ký</h1>
                <div class = "name">
                    <input type="Fist_name" id="First_name" name="username" placeholder ="Họ" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ'" style ="margin-right:10px;" required>
                    <input type="Last_name" id="Last_name" name="username" placeholder ="Tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên'" required>
                </div>
                
                <input type="account" id="account" name="account" placeholder ="Tài khoản" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tài khoản'" required >

                <input type="password" id="password" name="password" placeholder ="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'" required>

                <input type="your_number" id="number" name="number" placeholder ="Số điện thoại hoặc email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại hoặc email'" required>
                
                 <div class="disclaimer">Khi bạn nhấn vào nút Đăng ký đồng nghĩa với việc bạn đã đồng ý với các điều khoảng ở thư viện UIT</div>
                <div class="button">
                    <input type="submit" value="Đăng ký" name="Dang_ky" >
                </div>
            </form>
        </div>
    </body>
</html>